<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="w-100" />
    </div>
    <div class="col-6 mt-5">
        <h2>{{ product.name }}</h2>
        <p style="font-size: 2em">{{ product.price | currency }}</p>

        <div class="d-flex justify-content-start align-items-center">
            <fa-icon [icon]="faMinusCircle" class="text-warning me-2"></fa-icon>
            <span class="font-weight-bold item-count">2</span>
            <fa-icon [icon]="faPlusCircle" class="text-warning ms-2"></fa-icon>
            <button class="btn btn-outline-secondary ms-4">Add to cart</button>
        </div>
        <div class="row mt-4">
            <h4>Description</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>
